<div class="col mb-5">
  <div class="card h-80">
    <!-- Product image-->
    <img
      class="card-img-top"
      src="https://dummyimage.com/300x450/dee2e6/6c757d.jpg"
      alt="..."
    />
    <!-- Product details-->
    <div class="card-body p-2">
      <div class="text-center">
        <%= link_to book do %>
          <h5 class="fw-bolder"> <%= book.name %></h5>
        <% end %>
        <!-- Product price-->
        <%= number_to_currency book.price, locale: :vi %>
        <div class="d-flex justify-content-center small text-warning mb-2">
          <% load_fill_star(book).times do %>
            <div class="bi-star-fill"></div>
          <% end %>
          <% load_no_fill_star(book).times do %>
            <div class="bi-star"></div>
          <% end %>
        </div>
        <%= t ".quantity" %> : <%= book.quantity %>
      </div>
    </div>
    <!-- Product actions-->

    <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
        <% if book.quantity > Settings.length.zero %>
          <%= link_to carts_path(book_id: book.id), method: :post, class: "btn btn-outline-dark mt-auto", remote: true do %>
            <i class="fas fa-shopping-cart"></i> <%= t ".add_to_cart" %>
          <% end %>
        <% else %>
          <button type="button" class="btn btn-outline-dark mt-auto" disabled>
            <i class="fas fa-shopping-cart"></i> <%= t ".add_to_cart" %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
