<div class="d-flex justify-content-center row">
  <div class="col-md-8">
      <div class="d-flex flex-column comment-section">
          <div class="bg-white">
              <div class="d-flex flex-row fs-12">
                  <div class="like p-2 cursor">
                    <%= render partial: "shared/like_form", locals: {object: locals[:object]} %>
                  </div>
                  <div class="p-2 cursor">
                      <%= @comments.count %> <%= t ".comment" %>
                  </div>
              </div>
          </div>
          <div class="bg-light p-2">
            <% if logged_in? %>
              <div id="comment_form">
                <%= render partial: "shared/comment_form", locals: {object: locals[:object]} %>
              </div>
            <% else %>
              <%= t ".please_login" %>
            <% end %>
          </div>
          <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
          <div id="comment-section">
            <%= render partial: "shared/comment", collection: @comments %>
          </div>
      </div>
  </div>
</div>
