<div class="row">
  <div class="card col-2">
    <img
      class="card-img-top"
      src="https://dummyimage.com/300x450/dee2e6/6c757d.jpg"
      alt="..."
    />
    <div class="card-body p-4">
      <div class="text-center">
        <div class="d-flex justify-content-center small text-warning mb-2">
          <% load_fill_star(@book).times do %>
            <div class="bi-star-fill"></div>
          <% end %>
          <% load_no_fill_star(@book).times do %>
            <div class="bi-star"></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="card2decs">
      <h5 class="fw-bolder heading1"><%= @book.name %></h5>
      <p><%= t ".author" %>:<span class="float-right"><%= @book.author_name %></span></p>
      <p><%= t ".publisher" %>:<span class="float-right"><%= @book.publisher_name %></span></p>
      <p><%= t ".price" %>:<span class="float-right"><%= number_to_currency @book.price, locale: :vi %></span></p>
      <p><%= t ".description" %>:<span class="float-right"><%= @book.description %></span></p>
    </div>
  </div>
</div>
