<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <%= link_to t(".brand"), root_path, {class: "navbar-brand"} %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item">
          <%= link_to t(".home"), root_path, {class: "nav-link"} %>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <%= t ".category" %>
          </a>
          <!-- Dropdown - User Information -->
          <div
            class="dropdown-menu animated--grow-in"
            aria-labelledby="userDropdown"
          >
            <% load_category.each do |category| %>
              <%= link_to category.name,"#", {class: "dropdown-item"} %>
            <% end %>
          </div>
        </li>
      </ul>
      <% if logged_in? %>
        <div class="nav-item dropdown no-arrow ml-auto">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="userDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">
              <%= load_user_name %>
            </span>
          </a>
          <!-- Dropdown - User Information -->
          <div
            class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
            aria-labelledby="userDropdown"
          >
            <%= link_to user_path(current_user), {class: "dropdown-item"} do %>
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              <%= t ".profile" %>
            <% end %>
            <a class="dropdown-item" href="#">
              <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              <%= t ".settings" %>
            </a>
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              href="#"
              data-toggle="modal"
              data-target="#logoutModal"
            >
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              <%= t ".logout" %>
            </a>
          </div>
        </div>
      <% else %>
        <div class="nav-item btn btn-outline-dark ml-auto">
          <%= link_to t("login"), login_path %>
        </div>
        <div class="nav-item btn btn-outline-dark">
          <%= link_to t(".signup"), "#" %>
        </div>
      <% end %>
      <div class="badge"><%= link_to "Eng", locale: :en %></div>
      <div class="badge"><%= link_to "Vie", locale: :vi %></div>
    </div>
  </div>
</nav>
