<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <%= link_to admin_root_path,
              {class: "sidebar-brand d-flex align-items-center justify-content-center"} do %>
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">
      <%= t ".brand" %>
    </div>
  <% end %>
  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <%= link_to admin_root_path, {class: "nav-link"} do %>
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <%= t ".dashboard" %>
    <% end %>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
      <%= t ".manager" %>
  </div>

  <li class="nav-item">
    <%= link_to "#", {class: "nav-link"} do %>
      <i class="fas fa-fw fa-wrench"></i>
      <%= t ".users" %>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to admin_authors_path, {class: "nav-link"} do %>
      <i class="fas fa-fw fa-wrench"></i>
      <%= t ".author" %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_publishers_path, {class: "nav-link"} do %>
      <i class="fas fa-fw fa-building"></i>
      <%= t ".publisher" %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_categories_path, {class: "nav-link"} do %>
      <i class="fas fa-fw fa-list-ol"></i>
      <%= t ".category" %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_requests_path, {class: "nav-link"} do %>
      <i class="fas fa-fw fa-list-ol"></i>
      <%= t ".request" %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to admin_books_path, {class: "nav-link"} do %>
      <i class="fas fa-book fa-list-ol"></i>
      <%= t ".book" %>
    <% end %>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <li class="nav-item">
    <%= link_to "", {class: "nav-link"} do %>
      <i class="fas fa-fw fa-wrench"></i>
      <%= t ".requests" %>
    <% end %>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">
</ul>
