<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>

  <body id="page-top">
    <div id="wrapper">
      <%= render "layouts/sidebar_admin" %>
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <%= render "layouts/topbar_admin" %>
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
        <!-- End of Main Content -->
        <%= render "layouts/footer_admin" %>
      </div>
      <%= render "layouts/logout_modal_admin" %>
    </div>
    <%= toastr_flash.html_safe %>
  </body>
</html>
