<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/navigation" %>
    <div class="container px-4 px-lg-5 mt-5">
      <section class="py-5">
        <%= yield %>
      </section>
    </div>
    <%= render "layouts/logout_modal_admin" %>
    <%= toastr_flash.html_safe %>
    <%= render "layouts/footer" %>
  </body>
</html>
